<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title text-center>Encabezados</ion-title>
  </ion-toolbar>

  <ion-segment scrollable mode="md" color="primary" (ionChange)="cambioCategoria($event)">
    <ion-segment-button [value]="categoria.valor" mode="md" *ngFor="let categoria of categorias;">
      <ion-label text-capitalize>{{categoria.texto}}</ion-label>
    </ion-segment-button>
    
  </ion-segment>

</ion-header>

<ion-content color="dark" #content>

  <app-noticias-comp [noticiasXPais]="noticiasPais"></app-noticias-comp>

  <ion-infinite-scroll threshold="40px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando..." class="scroll">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
