<ion-tabs>
  <ion-tab-bar color="dark" slot="bottom">

    <ion-tab-button tab="noticias">
      <ion-icon name="globe"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categorias">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favoritos">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>