<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>Noticias Mundiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" #content>
  <form [formGroup]="formulario">
    <ion-item color="dark">
      <ion-label>País</ion-label>
      <ion-select placeholder="Seleccione" formControlName="pais" okText="Aceptar" cancelText="Cancelar"
        (ionChange)="consultar(this.formulario.value.pais)">
        <ion-select-option *ngFor="let pais of paises;" [value]="pais.codigo">{{pais.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <div class="content-noticias">
    <app-noticias-comp [noticiasXPais]="noticiasPais"></app-noticias-comp>
  </div>

  <div class="content_scroll">
  <ion-infinite-scroll threshold="40px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="circular" loadingText="" class="scroll">
      </ion-infinite-scroll-content>
      <h6 class="text-scroll">Cargando...</h6>
    </ion-infinite-scroll>
  </div>

</ion-content>